<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="campsg.zhongchou.entity.Project">
      <!-- 查询单个shuju -->
      <select id="selectProject" resultType="campsg.zhongchou.entity.Project">
          select * from Project where id =#{project_id}
      </select>
      
      <!-- 增加数据 -->
      <insert id="insertProject" parameterType="campsg.zhongchou.entity.Project">
          <!-- 插入之后返回id -->
          <selectKey resultType="java.lang.Integer" keyColumn="id" keyProperty="id" order="AFTER">
              select last_insert_id()
          </selectKey>
          insert into project(title,context)values(#{title},#{context})
      </insert>
      
      <!-- 数据更新操作 -->
      <update id="updateProject" parameterType="campsg.zhongchou.entity.Project">
          update project set title=#{title},context=#{context} where id=#{project_id}
      </update>
      
      <!-- 删除数据 -->
      <delete id="deleteProject">
          delete from project where id=#{project_id}
      </delete>
      
      
      <!-- 查询时返回值不知一个，首先应该配置返回的结果集 -->
      <resultMap type="campsg.zhongchou.entity.Project" id="projectResults">
          <!-- 主键的配置 -->
          <id column="id" property="id" />
          <!-- 属性的配置，数据库表的字段同类的属性一一对应 -->
          <result column="title" property="title"/>
          <result column="context" property="context"/>
      </resultMap>
      <!-- 查询所有的数据 -->
      <select id="selectAll" resultMap="projectResults">
          select * from project
      </select>
      <!-- 模糊查询 -->
      <select id="selectAllLike" resultMap="projectResults">
          select * from project where title like '%${title}%'
      </select>
      
      
  </mapper>